
**.[aiodS][aiodS]
*.d
*.i
*.log
*.out
.gdb_history
arc
bin/cat
bin/echo
bin/ls
bin/malloc
bin/report
bin/runrep
bin/termctrl
bin/termsize
bin/touch
bin/usleep
bin/vpty
bin/write
core*
fuck
git
hide
log/
out
output
tags
trace
tst/test1.t
tst/test2.t
