
*.S.oo
*.aa
*.cc.[Sdio][Sdio]
.gdb_history
.gitignore.old
bin/cat
bin/decom
bin/echo
bin/false
bin/ls
bin/lspath
bin/report
bin/throw
bin/touch
bin/true
bin/usleep
bin/xattr
tst/comparable_min.t
tst/del-test
tst/memfd_cat
tst/stupid-ptr.h
tst/termctrl
tst/termsize
tst/test-is-t
tst/throw
tst/vector.t
