
**.[aiodS][aiodS]
*.[iod]
*.log
*.out
.gdb_history
arc
bin/cat
bin/echo
bin/false
bin/ls
bin/malloc
bin/report
bin/runrep
bin/termctrl
bin/termsize
bin/touch
bin/true
bin/usleep
bin/vpty
bin/write
core*
fuck
git
hide
log/
out
output
tags
trace
tst/comparable_min
tst/format
tst/fuck.t
tst/max_width
tst/memcpy.t
tst/min-test.t
tst/test1.t
tst/test2.t
tst/test_format
tst/tuple
